<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAnDORA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Metriken-Übersicht</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainStyle.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/BrowserIconPandora.png">

</head>

<body>



    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- Logo und Titel -->
            <div class="d-flex align-items-center LogoTitel">
                <a class="navbar-brand" href="/">
                    <img class="PandoraLogo" src="/static/images/NewPandoraLogo.png" alt="Logo" class="navbar-logo">
                </a>
                <div>
                    <span class="navbar-brand mb-0 h1">PAnDORA</span>
                    <p class="mb-0 pandoraAkro">Performance Analyzer for DORA Metrics</p>
                </div>
            </div>
            <!-- Mobile Menü Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Inhalte -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Navigations Tabs -->
                <ul class="nav nav-pills mx-auto reiterMenu" id="metricTabs">
                    <li class="nav-item">
                        <a class="nav-link active dashboardbutton" data-toggle="tab" href="#dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#codeChangeVolume">CCV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#mttr">MTTR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changeFailureRate">CFR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#deployment">DF</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#leadTimeForChange">LTC</a>
                    </li>
                </ul>

                
                <!-- Neues Projekt erstellen -->
                <button class="btn btn-primary newProjectButton" type="button" data-toggle="modal"
                    data-target="#createProjectModal">
                    New Project
                </button>

                <!-- Button zum Öffnen des Modals -->

                <!-- Modal -->
                <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog"
                    aria-labelledby="createProjectModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createProjectModalLabel">Neues Projekt erstellen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="newProjectForm" method="POST" action="/create_project">
                                    <div class="form-group">
                                        <label for="projectName">Name</label>
                                        <input type="text" class="form-control" id="projectName" name="name" required>

                                    </div>
                                    <div class="form-group">
                                        <label for="projectDescription">Beschreibung</label>
                                        <textarea class="form-control" id="projectDescription" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Erstellen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



          
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                <div class="user-logout-container">
                    <!-- Dropdown Trigger -->
                    <div class="dropdown ">
                        <div class="user-circle dropdown-toggle " id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ username[0]|upper }}
                        </div>
                
                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
                
            </div>
        </div>
    </nav>

    <div class="input-group mb-2 mt-2 projectandlogout ">

                   
        <select id="projectSelector" name="project_id" class="custom-select m-1">
            <option value="all" {% if current_project_id=='all' %}selected{% endif %}>Alle Projekte
            </option>
            {% for project in projects %}
            <option value="{{ project.id }}" {% if current_project_id==project.id|string %}selected{% endif
                %}>
                {{ project.name }}</option>
            {% endfor %}
        </select>
        <div class="input-group-append m-1">
            <button class="btn btn-primary" type="button" id="fetch_project_data">Daten abrufen</button>

        </div>
        
   
    </div>

    <div class="tab-content m-3">

        <div class="tab-pane active" id="dashboard">
            <!-- Hier können Sie den Dashboard-Inhalt einfügen -->
            <h2>Dashboard</h2>
            <p>Hier kommen die Canvas- und Chart-Übersichten hin.</p>
            <!-- Hier können Sie Canvas und Charts einfügen -->
            <div>
                <h2>CCV</h2>
                <div class="col-md-6">
                    <canvas class="lineChart" id="dashboard_myChart" style="width:100%;max-width:600px"></canvas>
                </div>
                <div>
                    <h2>MTTR</h2>
                    <canvas class="mttrChart" id="dashboard_mttrChart" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="codeChangeVolume">
            <!-- Hier den Inhalt für Code Change Volume einfügen -->


            <form id="ccvForm" method="POST" action="/submit_ccv">

                <div class="form-group">
                    <label for="ccvInput">Code Change Volume:</label>
                    <p>Anzahl hinzugefügter, geänderter und gelöschter Zeilen eingeben</p>
                    <div class="col-md-6">
                        <input class="form-control mt-2" id="ccvInput" name="ccvValue">
                    </div>
                </div>
                <input type="hidden" id="hiddenProjectId" name="project_id" value="">
                <button type="submit" class="btn btn-primary mt-2">Absenden</button>
            </form>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div>
                        <h2>Code Change Volume Metrics</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Timestamp</th>
                                    <th class="text-center">Code Change Volume</th>
                                    <th class="text-center">User</th>
                                    <th class="text-center">Projekt</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="ccvDataBody">
                                {% for metric in ccv_data %}
                                <tr>
                                    <td class="text-center">{{ metric.timestamp.strftime('%H:%M %d.%m.%Y') }}</td>
                                    <td class="text-center">{{ metric.code_change_volume | int}}</td>
                                    <td class="text-center">{{ metric.user.username }}</td>
                                    <td class="text-center">{{ metric.projekt.name }}</td>
                                    <td class="text-center">
                                        <a href="{{ url_for('edit_ccv', ccv_id=metric.id) }}">
                                            <i class="fas fa-cog"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <canvas class="lineChart" id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>


            <div class="col-md-4">
                <canvas id="myPieChart" style="width:100%;max-width:600px"></canvas>
            </div>

        </div>


        <div class="tab-pane" id="mttr">
            <!-- Hier den Inhalt für MTTR einfügen -->

                <!-- Button, der das Modal auslöst -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#incidentModal">
                    New Incident
                </button>
            <div class="container mttrcharts">
                <div>
                    <canvas class="mttrChart" id="mttrChart"></canvas>
                </div>

                <div>
                    <h3>Gesammtausfallzeit in Minuten</h3>
                    <canvas id="mttrRingChart"></canvas>
                </div>


            </div>

            <div class="container">
                <div class="row">

                    <p>Die Mean Time To Recover (MTTR) beträgt: <span id="mttrDisplay">Zum abrufen der MTTR "Daten
                            abrufen" klicken</span></p>


                    <p>Hier kannst du die Details für einen Vorfall eingeben:</p>

                

                    <!-- Modal -->
                    <div class="modal fade" id="incidentModal" tabindex="-1" role="dialog"
                        aria-labelledby="incidentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="incidentModalLabel">Neuer Vorfall</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Hier fügst du dein Formular ein -->
                                    <form method="POST" action="/submit_mttr">
                                        <form method="POST" action="/submit_mttr">
                                            <!-- Startzeit des Vorfalls -->
                                            <div class="form-group">
                                                <label for="start_timeInput">Startzeit des Vorfalls:</label>
                                                <input type="datetime-local" class="form-control" id="start_timeInput"
                                                    name="start_time">
                                            </div>
                                            <!-- Endzeit des Vorfalls -->
                                            <div class="form-group">
                                                <label for="end_timeInput">Endzeit des Vorfalls:</label>
                                                <input type="datetime-local" class="form-control" id="end_timeInput" name="end_time">
                                            </div>
                                            <!-- Beschreibung des Vorfalls -->
                                            <div class="form-group">
                                                <label for="descriptionInput">Beschreibung:</label>
                                                <textarea class="form-control" id="descriptionInput" name="description"
                                                    rows="3"></textarea>
                                            </div>
                                            <!-- Ursache des Vorfalls -->
                                            <div class="form-group">
                                                <label for="causeInput">Ursache:</label>
                                                <textarea class="form-control" id="causeInput" name="cause" rows="3"></textarea>
                                            </div>
                                            <!-- Wie wurde das Problem behoben -->
                                            <div class="form-group">
                                                <label for="resolutionInput">Behebung:</label>
                                                <textarea class="form-control" id="resolutionInput" name="resolution"
                                                    rows="3"></textarea>
                                            </div>
                                            <!-- Auswahl des zugehörigen Projekts -->
                                            <div class="form-group">
                                                <label for="projectSelect">Projekt:</label>
                                                <select class="form-control" id="projectSelect" name="project_id">
                                                    <!-- Hier sollten die Projekt-Optionen aus der Datenbank geladen werden -->
                                                    {% for project in projects %}
                                                    <option value="{{ project.id }}">{{ project.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Absenden</button>
                                        </form> <!-- Hier kommen die Formularfelder -->
                                        <!-- ... -->
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                   
                    <div class="col-md-6 mttrtable">
                        <table class="table">
                            <!-- Tabellenkopf -->
                            <thead>
                                <tr>
                                    <th>Startzeit</th>
                                    <th>Endzeit</th>
                                    <th>Beschreibung</th>
                                    <th>Projekt</th>
                                </tr>
                            </thead>
                            <!-- Tabellenkörper -->
                            <tbody id="mttrDataBody">
                                {% for incident in incident_data %}
                                <tr>
                                    <td>{{ incident.start_time.strftime('%H:%M %d.%m.%Y') }}</td>
                                    <td>{{ incident.end_time.strftime('%H:%M %d.%m.%Y') }}</td>
                                    <td>{{ incident.description }}</td>
                                    <td>{{ incident.projekt.name }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div>


        <div class="tab-pane container" id="changeFailureRate">
            <h2>Change Failure Rate Berechnung</h2>

            <div>
                <label>Anzahl der fehlgeschlagenen Deployments: </label>
                <span id="failed">{{ failed }}</span>
                <br>
                <label>Gesamtzahl der Deployments: </label>
                <span id="total">{{ total }}</span>

            </div>

            <p>Die aktuelle Change Failure Rate für das ausgewählte Projekt beträgt: <strong><span id="cfrDisplay">{{ '%.2f'|format(cfr) }}%</span></strong></p>


        </div>


        <div class="tab-pane" id="deployment">
            <!-- Hier den Inhalt für Deploy einfügen -->
            <div class="container mt-4">
                <h3>Deployment Frequency (DF)</h3>
                <p id="deploymentFrequency">Die aktuelle Deployment Frequency für das ausgewählte Projekt beträgt:
                    <strong id="dfValue">{{ df }}</strong> Deployments pro Monat.
                </p>
                <div id="chartData" style="width:100%;max-width:600px"
                data-months='{{ months|tojson|replace("\"", "&quot;") }}'
                data-deployments='{{ monthly_deployments|tojson|replace("\"", "&quot;") }}'>
                <canvas id="myBarChart"></canvas>
            </div>
            </div>
           

        </div>



        <div class="tab-pane" id="leadTimeForChange">
            <h2>Lead Time for Changes Erfassung</h2>

            <!-- Formular zum Erfassen von Commit- und Deployment-Daten -->
            <form id="ltcForm" method="POST" action="/submit_ltc">
                <!-- Commit Datum und Uhrzeit -->
                <div class="form-group">
                    <label for="commitDatetime">Commit Datum und Uhrzeit:</label>
                    <input type="datetime-local" class="form-control" id="commitDatetime" name="commit_datetime">
                </div>

                <!-- Deployment Datum und Uhrzeit -->
                <div class="form-group">
                    <label for="deploymentDatetime">Deployment Datum und Uhrzeit:</label>
                    <input type="datetime-local" class="form-control" id="deploymentDatetime"
                        name="deployment_datetime">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Erfassug für das Projekt:</label>
                    </div>
                    <select id="ltcprojectSelector" name="project_id" class="custom-select">
                        <option value="all">Alle Projekte</option>
                        {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Deployment Status:</label>
                    <input type="radio" id="success" name="deployment_status" value="true" checked>
                    <label for="success">Erfolgreich</label>

                    <input type="radio" id="failure" name="deployment_status" value="false">
                    <label for="failure">Fehlgeschlagen</label>
                </div>

                <button type="submit" class="btn btn-primary">Erfassung absenden</button>
            </form>

            <!-- Tabelle zur Anzeige der Lead Time for Changes Daten -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Lead Time for Changes Metrics</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Commit Datum</th>
                                <th class="text-center">Deployment Datum</th>
                                <th class="text-center">Lead Time</th>
                                <th class="text-center">Deploy Succesfull</th>
                                <th class="text-center">Actions</th>
                                <!-- Andere notwendige Spalten können hier hinzugefügt werden -->
                            </tr>
                        </thead>
                        <tbody id="ltcDataBody">
                            <!-- Hier sollten die Daten aus der Datenbank geladen werden -->
                            {% for ltc in ltc_data %}
                            <tr>
                                <td class="text-center">{{ ltc.commit_datetime.strftime('%H:%M %d.%m.%Y') }}</td>
                                <td class="text-center">{{ ltc.deployment_datetime.strftime('%H:%M %d.%m.%Y') }}</td>
                                <td class="text-center">{{ '%.2f'|format(ltc.value) }}</td>
                                <td class="text-center">{{ ltc.deployment_successful }}</td>
                                <!--  <td class="text-center">
                                    Bearbeiten-Link für diesen LTC-Eintrag 
                                    <a href="{{ url_for('edit_ltc', ltc_id=ltc.id) }}" class="btn btn-sm btn-primary">Bearbeiten</a>
                                </td>-->
                                <td class="text-center">
                                    <a href="{{ url_for('edit_ltc', ltc_id=ltc.id) }}">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <!-- Skripte -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
   



</body>

</html>