<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Metriken-Übersicht</title>
    
  </head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DORA-METRICS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav nav-tabs" id="metricTabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#codeChangeVolume">Code Change Volume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#mttr">Mean Time to Recover (MTTR)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#changeFailureRate">Change Failure Rate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#deployment">Deployment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="tab-content m-3">
    <div class="tab-pane active" id="codeChangeVolume">
        <!-- Hier den Inhalt für Code Change Volume einfügen -->
        
        <p>Hier kannst du Anzahl der geschriebenen Codezeilen eingeben und an die Datenbank senden:</p>
        <form method="POST" action="/submit_ccv">
            <div class="form-group">
                <label for="ccvInput">Code Change Volume:</label>
                <div class="col-md-6">
                <input type="number" class="form-control mt-2" id="ccvInput" name="ccvValue">
            </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Absenden</button>
        </form>
        <div class="row mt-4">
            <div class="col-md-6">
                <div>
                    <h2>Code Change Volume Metrics</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Code Change Volume</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for metric in ccv_data %}
                                <tr>
                                    <td class="text-center">{{ metric.timestamp.strftime('%H:%M %d.%m.%Y') }}</td>
                                    <td class="text-center">{{ metric.code_change_volume }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
            </div>
        </div>
        
        <script>
            const timestamps = Array.from(document.querySelectorAll('.text-center:nth-child(1)')).map(element => element.textContent);
            const codeLines = Array.from(document.querySelectorAll('.text-center:nth-child(2)')).map(element => parseFloat(element.textContent));
            
            new Chart("myChart", {
              type: "line",
              data: {
                labels: timestamps,
                datasets: [{
                  fill: false,
                  lineTension: 0,
                  backgroundColor: "rgba(0,0,255,1.0)",
                  borderColor: "rgba(0,0,255,0.1)",
                  data: codeLines
                }]
              },
              options: {
                legend: {display: true},
                scales: {
                    // yAxes: [{ticks: {min: Math.min(...codeLines), max: Math.max(...codeLines)}}],
                }
              }
            });
        </script>
        

    </div>

    
    <div class="tab-pane" id="mttr">
        <!-- Hier den Inhalt für MTTR einfügen -->
        <p>Hier kannst du MTTR eingeben und an die Datenbank senden:</p>
        <form method="POST" action="/submit_mttr">
            <div class="form-group">
                <label for="mttrInput">Mean Time To Recover:</label>
                <div class="col-md-6">
                <input type="number" class="form-control" id="mttrInput" name="mttrValue">
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Absenden</button>
        </form>
    </div>
    <div class="tab-pane" id="changeFailureRate">
        <!-- Hier den Inhalt für Change Failure Rate einfügen -->
    </div>
    <div class="tab-pane" id="deployment">
        <!-- Hier den Inhalt für Deployment einfügen -->
    </div>
</div>

<!-- Skripte -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    

      
</body>
</html>