<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Metriken-Übersicht</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DORA-METRICS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="d-flex flex-column">
                    <ul class="nav nav-tabs" id="metricTabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#codeChangeVolume">Code Change Volume
                                (CCV)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#mttr">Mean Time to Recover (MTTR)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#changeFailureRate">Change Failure Rate
                                (CFR)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#deployment">Deployment Frequency (DF)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#leadTimeForChange">Lead Time for Changes
                                (LTC)</a>
                        </li>
                    </ul>
                    <div class="input-group mb-3 mt-2  justify-content-end  ">
                        <div class="input-group-prepend ">
                            <label class="input-group-text m-1" for="projectSelector">Bitte wähle ein Projekt
                                aus:</label>
                        </div>
                        <select id="projectSelector" name="project_id" class="custom-select m-1">
                            <option value="all" {% if current_project_id=='all' %}selected{% endif %}>Alle Projekte
                            </option>
                            {% for project in projects %}
                            <option value="{{ project.id }}" {% if current_project_id==project.id|string %}selected{%
                                endif %}>
                                {{ project.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append m-1">
                            <button class="btn btn-primary" type="button" id="fetch_project_data">Daten abrufen</button>
                        </div>
                    </div>

                </div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <div class="tab-content m-3">
        <div class="tab-pane active" id="codeChangeVolume">
            <!-- Hier den Inhalt für Code Change Volume einfügen -->


            <form method="POST" action="/submit_ccv">

                <div class="form-group">
                    <label for="ccvInput">Code Change Volume:</label>
                    <p>Hier kannst du Anzahl der geschriebenen Codezeilen eingeben und an die Datenbank senden:</p>
                    <div class="col-md-6">
                        <input type="number" class="form-control mt-2" id="ccvInput" name="ccvValue">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Absenden</button>
            </form>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div>
                        <h2>Code Change Volume Metrics</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Timestamp</th>
                                    <th class="text-center">Code Change Volume</th>
                                    <th class="text-center">User</th>
                                    <th class="text-center">Projekt</th>
                                </tr>
                            </thead>
                            <tbody id="ccvDataBody">
                                {% for metric in ccv_data %}
                                <tr>
                                    <td class="text-center">{{ metric.timestamp.strftime('%H:%M %d.%m.%Y') }}</td>
                                    <td class="text-center">{{ metric.code_change_volume }}</td>
                                    <td class="text-center">{{ metric.user.username }}</td>
                                    <td class="text-center">{{ metric.projekt.name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                </div>
            </div>


            <div class="col-md-4">
                <canvas id="myPieChart" style="width:100%;max-width:600px"></canvas>
            </div>

        </div>


        <div class="tab-pane" id="mttr">
            <!-- Hier den Inhalt für MTTR einfügen -->


            <p> Für das akuell ausgewählte Projekt beträgt die Mean Time To Recover (MTTR): {{ mttr }}</p>



            <p>Hier kannst du die Details für einen Vorfall eingeben:</p>
            <form method="POST" action="/submit_mttr">
                <!-- Startzeit des Vorfalls -->
                <div class="form-group">
                    <label for="start_timeInput">Startzeit des Vorfalls:</label>
                    <input type="datetime-local" class="form-control" id="start_timeInput" name="start_time">
                </div>
                <!-- Endzeit des Vorfalls -->
                <div class="form-group">
                    <label for="end_timeInput">Endzeit des Vorfalls:</label>
                    <input type="datetime-local" class="form-control" id="end_timeInput" name="end_time">
                </div>
                <!-- Beschreibung des Vorfalls -->
                <div class="form-group">
                    <label for="descriptionInput">Beschreibung:</label>
                    <textarea class="form-control" id="descriptionInput" name="description" rows="3"></textarea>
                </div>
                <!-- Ursache des Vorfalls -->
                <div class="form-group">
                    <label for="causeInput">Ursache:</label>
                    <textarea class="form-control" id="causeInput" name="cause" rows="3"></textarea>
                </div>
                <!-- Wie wurde das Problem behoben -->
                <div class="form-group">
                    <label for="resolutionInput">Behebung:</label>
                    <textarea class="form-control" id="resolutionInput" name="resolution" rows="3"></textarea>
                </div>
                <!-- Auswahl des zugehörigen Projekts -->
                <div class="form-group">
                    <label for="projectSelect">Projekt:</label>
                    <select class="form-control" id="projectSelect" name="project_id">
                        <!-- Hier sollten die Projekt-Optionen aus der Datenbank geladen werden -->
                        {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Absenden</button>
            </form>
        </div>

        <div class="tab-pane" id="changeFailureRate">
            <!-- Hier den Inhalt für CFR einfügen -->


            <h2>Change Failure Rate Berechnung</h2>

            <div>
                <label for="failed">Anzahl der fehlgeschlagenen Deployments:</label>
                <input type="number" id="failed" name="failed">
            </div>

            <div>
                <label for="total">Gesamtzahl der Deployments:</label>
                <input type="number" id="total" name="total">
            </div>

            <p>Die aktuelle Change Failure Rate für das ausgewählte Projekt beträgt: <strong>{{ cfr }}</strong></p>
        </div>

        <div class="tab-pane" id="deployment">
            <!-- Hier den Inhalt für Deploy einfügen -->
            <div class="container mt-4">
                <h3>Deployment Frequency (DF)</h3>
                <p>Die aktuelle Deployment Frequency für das ausgewählte Projekt beträgt: <strong>{{ df }}</strong>
                    Deployments pro Monat.</p>
            </div>
            <div id="chartData" style="width:100%;max-width:600px"
                data-months='{{ months|tojson|replace("\"", "&quot;") }}'
                data-deployments='{{ monthly_deployments|tojson|replace("\"", "&quot;") }}'>
                <canvas id="myBarChart"></canvas>
            </div>

        </div>



        <div class="tab-pane" id="leadTimeForChange">
            <h2>Lead Time for Changes Erfassung</h2>

            <!-- Formular zum Erfassen von Commit- und Deployment-Daten -->
            <form id="ltcForm" method="POST" action="/submit_ltc">
                <!-- Commit Datum und Uhrzeit -->
                <div class="form-group">
                    <label for="commitDatetime">Commit Datum und Uhrzeit:</label>
                    <input type="datetime-local" class="form-control" id="commitDatetime" name="commit_datetime">
                </div>

                <!-- Deployment Datum und Uhrzeit -->
                <div class="form-group">
                    <label for="deploymentDatetime">Deployment Datum und Uhrzeit:</label>
                    <input type="datetime-local" class="form-control" id="deploymentDatetime"
                        name="deployment_datetime">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Erfassug für das Projekt:</label>
                    </div>
                    <select id="ltcprojectSelector" name="project_id" class="custom-select">
                        <option value="all">Alle Projekte</option>
                        {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Erfassung absenden</button>
            </form>

            <!-- Tabelle zur Anzeige der Lead Time for Changes Daten -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <h2>Lead Time for Changes Metrics</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Commit Datum</th>
                                <th class="text-center">Deployment Datum</th>
                                <th class="text-center">Lead Time</th>
                                <!-- Andere notwendige Spalten können hier hinzugefügt werden -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Hier sollten die Daten aus der Datenbank geladen werden -->
                            {% for ltc in ltc_data %}
                            <tr>
                                <td class="text-center">{{ ltc.commit_datetime.strftime('%H:%M %d.%m.%Y') }}</td>
                                <td class="text-center">{{ ltc.deployment_datetime.strftime('%H:%M %d.%m.%Y') }}</td>
                                <td class="text-center">{{ '%.2f'|format(ltc.value) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    <!-- Skripte -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</body>

</html>